body{
  padding-top: 10px;
  font-size: 25px;
  font-family: arial, sans-serif;
  text-align: center;
}

.love {
     color: #d60000;
}

div {
  padding-bottom: 10px;
}

input {
	font-size: 25px;
}

button {
    width: 140px;
    height: 40px;
    font-size: 25px;
    cursor: pointer;
    background-color: #0C4CB2;
    border: none;
    color: #fff;
}

.element {
	padding: 5px 0;
}

button:hover {
  background-color: #119DA4;
  text-decoration: underline;
}